body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: #f9fafb;
}

input,
select,
button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}